.header-container {
  background-color: antiquewhite;
  min-height: 50px;

  .header-menu {
    ul {
      list-style: none;
      display: flex;
      flex-grow: 1;
      flex-shrink: 0;
      align-items: center;
      li {
        margin-right: 20px;
      }
    }
  }
}

