.header-container {
    background-color: antiquewhite;
    min-height: 50px;

    .header-menu {
        .navbar-nav {
            flex-direction: row;

            .nav-item {
                margin-right: 20px;
            }
        }

        .active {
            border-bottom: 2px solid;
        }
    }
}

